
#name{
text-decoration-color: rgb(29, 231, 89);
text-align: center;
}
 nav{
    background-color: rgb(22, 90, 48);
 }
 nav>a{
    color: rgb(249, 249, 249);
    text-decoration: none;
    padding: 8px;
    display: inline-block;
 }

 nav>a:hover{
    background-color: black;
 }

.center{
    text-align: center;
}

input,textarea{
    background-color: rgba(167, 240, 179, 0.631);
    border-radius: 15px;
    color:black;
    padding: 8px 12px;
    border: 12px;
}

input[type=submit]{background-color: rgb(0, 204, 75);}
input[type=reset]{background-color: rgb(255, 0, 0);}
input:focus{
    background-color: rgb(164, 244, 6);
}

input[type=submit]:hover{
    background-color: rgb(164, 243, 169);
}

input[type=reset]:hover{
    background-color: rgb(243, 164, 164);}