
#name{
text-decoration-color: rgb(255, 255, 255);
color: aliceblue;
text-align: center;
}
 nav{
    background-color: rgb(22, 90, 48);
 }
 nav>a{
    color: rgb(249, 249, 249);
    text-decoration: none;
    padding: 8px;
    display: inline-block;
 }

 nav>a:hover{
    background-color: black;
 }

.center{
    text-align: center;
    color: rgb(255, 255, 255);
}
.rigth{
    text-align: right;
}
.left{
    text-align: left;
}

ul{color: aliceblue;}

input,textarea{
    background-color: rgba(167, 240, 179, 0.631);
    border-radius: 15px;
    color:black;
    padding: 8px 12px;
    border: 12px;
}

input[type=submit]{background-color: rgb(0, 204, 75);}
input[type=reset]{background-color: rgb(255, 0, 0);}
input:focus{
    background-color: rgb(164, 244, 6);
}

input[type=submit]:hover{
    background-color: rgb(164, 243, 169);
}

input[type=reset]:hover{
    background-color: rgb(244, 128, 128);}


h3{ font-size: medium; color: rgb(255, 255, 255);}

p{font-size: medium; font-style: oblique; color: rgb(255, 255, 255);}

body{
    max-width: 1080px;
    margin: auto;
    background-image: url("background.jpeg");
    background-attachment: fixed;
    background-position: 0 0;
    background-size: cover;
}
a:visited{color: aqua;}
a:active{color: beige;}
a:hover {
    color: rgb(255, 0, 208);
  }
a:link{color: crimson;}

div.container {
    text-align: center;
  }

 ul.ulcenter{
    display: inline-block;
    text-align: left;
  }